<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-navbutton-color" content="#EFE">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Example">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="icon" type="image/jpg" sizes="32x32" href="dril.jpg">
    <link rel="icon" type="image/jpg" sizes="96x96" href="dril.jpg">
    <link rel="icon" type="image/jpg" sizes="16x16" href="dril.jpg">

    <title>Dril bits</title>

    <link rel="stylesheet" type="text/css" href="/index.css">


  </head>

  <body>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <h1>Dril bits</h1>

    <div id="tweet-container">
      <blockquote class="twitter-tweet">
        <a href=<%= "http://twitter.com/dril/status/" + tweet.id %>></a>
      </blockquote>
    </div>
    
    <br>

    <!--<a id="next" onclick="window.location.reload();">Another one</a> -->
    <a id="next">Another one</a>

    <ul>
      <a href="/About"><li>About</li></a>
      <a href="/Download"><li>Download .txt</li></a>
      <!--<a target="_blank" href="https://cooltweets.herokuapp.com/dril"><li>All Tweets</li><a/> -->
    </ul>

    <script src="index.js"></script>
  </body>
</html>
