<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-navbutton-color" content="#EFE">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Example">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>Dril bits</title>

    <link rel="stylesheet" type="text/css" href="/index.css">
    <script src="index.js"></script>



  </head>

  <body>
    <h1>Dril bits</h1>

    <!--<blockquote class="twitter-tweet">
      <p lang="und" dir="ltr">yes</p>
      &mdash; wint (@dril)
      <a href="https://twitter.com/dril/status/922321981?ref_src=twsrc%5Etfw">September 15, 2008</a>
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->

    <blockquote class="twitter-tweet">
      <a href=<%= tweet.link %>>September 15, 2008</a>
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br>
    <a id="next" onclick="window.location.reload();">Another one</a>



  </body>
</html>
