:root {
  --main-color: #00aced;
  --accent-color: white;
  --disable-color: #d3d3d3;
}

body {
  background-image: url(dril.jpg);
  /*background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(dril.jpg);*/
  background-color: black;
  position: relative;
  text-align: center;
  margin: auto;
  font-family: sans-serif;
  overflow: overlay;
}


h1 {
  text-align: center;
  margin: 10px auto 20px auto;
  font-size: 60px;
  color: var(--main-color);
  -webkit-text-stroke: 1px var(--accent-color);
  font-weight: bolder;
}


#navbar{
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#navbar li{
  float: left;
}
#navbar li a {
  background-color: rgba(255, 255, 255, 0.267);
  border-right: 3px solid var(--accent-color);
  font-weight: bolder;
  display: block;
  -webkit-text-stroke: 0.1px var(--accent-color);
  color: var(--main-color);
  font-size: 23px;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}


#buttons {
  position: fixed;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
  /*margin-top: 2%;*/
  list-style: none;
  padding: 0;
  z-index: 100;
}


a{
  text-decoration: none;
}

.twitter-tweet{
  margin: auto;
}
#tweet-container-display{
  margin: auto;
  margin-bottom: 15%;
  z-index: -1;
}


.about{
  text-align: left;
  font-family: sans-serif;
  margin: auto;
  background-color: var(--accent-color);
  padding: 2% 3%;
  width: 40%;
  border-radius: 10px;
  border: 0.5px solid var(--main-color);
  margin-bottom: 30px;
}
p{
  width: 100%;
}

.control{
  font-family: sans-serif;
  padding: 8px;
  background-color: var(--accent-color);
  border-radius: 5px;
  user-select: none;
  font-size: 25px;
  color: var(--main-color);
  margin: 5px;
  border: 0.5px solid var(--disable-color);
}

.disable{
  color: var(--disable-color);
  pointer-events: none;
}


.hide{
  display: none;
  z-index: -1;
}


::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#navbar li a:active {
  background-color: rgba(255, 255, 255, 0.582);
}
a li:active{
  -webkit-text-stroke: 0.3px var(--accent-color);
}
.control:active {
  background-color: var(--main-color);
  cursor: pointer;
  color: var(--accent-color);
}
.disable:active{
  color: var(--disable-color);
  background-color: var(--accent-color);
  cursor: default;
  -webkit-text-stroke: 0px var(--accent-color);
  border: 0.5px solid var(--disable-color);
}

@media (hover: hover) {
  #navbar li a:hover {
    background-color: rgba(255, 255, 255, 0.582);
  }
  a li:hover{
    -webkit-text-stroke: 0.3px var(--accent-color);
  }
  .control:hover {
    background-color: var(--main-color);
    cursor: pointer;
    color: var(--accent-color);
  }
  .disable:hover{
    color: var(--disable-color);
    background-color: var(--accent-color);
    cursor: default;
    -webkit-text-stroke: 0px var(--accent-color);
    border: 0.5px solid var(--disable-color);
  }
}


@media screen and (max-width: 700px){
  .about{
    width: 70%;
    font-size: 12px;
  }
  #tweet-container-display{
    width: 95%;
  }
}
@media screen and (max-width: 400px){
  li{
    font-size: 15px;
    margin: 0 2px;
  }
  ul {
    margin-top: 15%;
  }
  .about{
    padding: 3%;
    width: 95%;
  }
}
