body {
  background-image: url(dril.jpg);
  text-align: center;
  position: relative;
}

h1 {
  text-align: center;
  margin: 40px auto;
  font-size: 60px;
  color: #00aced;
  -webkit-text-stroke: 1px white;
  font-weight: bolder;
  font-family: sans-serif;
}

ul {
  margin-top: 10%;
  list-style: none;
  padding: 0;
  bottom: 0;
}

li{
  font-size: 25px;
  color: #00aced;
  font-family: sans-serif;
  display: inline;
  margin: 0 10px;
  background-color: white;
  padding: 4px;
  border-radius: 5px;
  user-select: none;
}
a{
  text-decoration: none;
}

li:hover{
  background-color: #00aced;
  cursor: pointer;
  -webkit-text-stroke: 0.1px white;
}
a li:hover{
  -webkit-text-stroke: 0.1px white;
}

.twitter-tweet{
  margin: auto;
  margin-bottom: 50px;

}

#next{
  font-family: sans-serif;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  user-select: none;
  font-size: 25px;
  color: #00aced;

}
#next:hover {
  background-color: #00aced;
  cursor: pointer;
  -webkit-text-stroke: 0.1px white;
}


@media screen and (max-width: 400px){
  li{
    font-size: 20px;
  }
}
